*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

#navbar{
  border-bottom:1px solid #ccc;
  padding:0.5em;
  margin-bottom: 0.3em;
}

#navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

h1{
  text-align: center;
}

.form {
  width:450px;
   margin: 0 auto;
}

.form-control{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: .3rem;
}

.form-control input{
  padding: 5px;
}
