<form action="" method="post">
  <input name="title" type="text" placeholder="Nome do livro" value="{{book.title}}">
  <input name="pagesqty" type="text" placeholder="Nome do livro" value="{{book.pagesqty}}">
  <input type="button" value="Enviar">
</form>